<div id="app" [ngClass]="setPhotoSelected()">
    <div  class="container">
      <div class="ground"></div>
      <div class="dog-house"></div>

      <div class="photo">
        <div class="pin"></div>
        <div class="photo-image" >

          <div class="photo-image-placeholder">
              <div class="upload_button">
                  <label>
                    <input type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)">
                    <span>Click to verify the file!</span>
                  </label>
                </div>
          </div>
          <img [src]="imageUrl" class="z-depth-4" style="width: 550px; height: 400px;">
        </div>
      </div>

      <p class="title">
          Choose your <br/>
         <del>dog</del> pug picture!
        </p>
        <div class="arrow"></div>
        <div class="arrow-back" (click)="backToUpload()">
        </div>
        <div class="results-list">

            <div class="result" >
                <span class="its not a pug" >
                </span>
              <h1>
                {{data.message}}
              </h1>
            </div>

            <ul>
              <li *ngFor="let info of data.data">
                {{info.description}}
                <div class="progress" [ngStyle]="setPorcentValue(info.score)" >
                    <div class="progress-value">
                      {{info.score}}
                    </div>
                  </div>
              </li>
            </ul>
          </div>
    </div>
  </div>
<div class="loading" id="loading"></div>

